
body {
    color: blue;
    background-color: rgb(167, 192, 236);
}

p {
   color: black; 
}

h3 {
    color: black;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
}